# Operations Part 1
### Notes
- **Operators** are used to perform operations on variables and values.
- In this notebook we'll go over the following operator groups:
    - Arithmetic operators
    - Assignment operators
    - Comparison operators

### Arithmetic Operators
#### Some operations can be performed on non-numeric values

In [2]:
"Hello " * 10

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

In [3]:
"What's " + "up?"

"What's up?"

In [4]:
"Hello! My name is Duy " * 10

'Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy Hello! My name is Duy '

In [5]:
"Hello! My name is Duy " - "Duy"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### **Numbers**

In [6]:
2 + 2

4

#### **Floor Division**

In [7]:
5 // 2 # integer division

2

In [8]:
5 % 2 # remainder of 5 divided by 2

1

In [9]:
print("5 divided by 2 is", 5 // 2, "with a remainder of", 5 % 2)

5 divided by 2 is 2 with a remainder of 1

In [10]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000

average_salary = (min_salary + max_salary) / 2

average_salary

50000.0

#### **Assignment Operators**

In [11]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

x is now:  2
y is now:  1

**Add and Assign**

In [12]:
x = 1 # let's increment x by 1

x = x + 1 # not pythonic

x

2

In [13]:
x = 1

x += 1 # pythonic

x

2

#### **Comparison Operators**
Comparison operators compare two values and determine the relation between them.

In [15]:
1 = 1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (814398681.py, line 1)

In [16]:

1 == 1 # evaluates to True or False

True

In [18]:
salary_a = 50_000
salary_b = 50_000

# Are Luke and Kelly's salaries the same?
salary_checker = (salary_a == salary_b) # parantheses are optional

salary_checker

True